parameters:
  level: max
  fileExtensions:
    - php
  paths:
    - %currentWorkingDirectory%/src/
#  checkGenericClassInNonGenericObjectType: false
#  checkMissingIterableValueType: false
  treatPhpDocTypesAsCertain: false
includes:
  - vendor/phpstan/phpstan-strict-rules/rules.neon
