<phpunit
    bootstrap="./tests/bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    verbose="true"
    stopOnFailure="false"
    processIsolation="false"
    backupGlobals="false"
>
    <testsuite name="Detail\Normalization Test Suite">
        <directory>./tests</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
        <log type="coverage-html" target="./build/coverage" lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="./build/logs/clover.xml"/>
        <log type="junit" target="./build/logs/junit.xml"/>
    </logging>
</phpunit>
